// color palatte
$dark: #201e21;
$oceanBlue: #017ba5;
$barneyPurple: #a7059b;
$veryLightPink: #ffe9e9;
$lightPink: #f7dae8;

// font styling
$dokdo: 'East Sea Dokdo', cursive;
$roboto: 'Roboto', sans-serif;

// Media query max-widths
// Phones
$tablet: 768px;
$phone: 360px;